/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #f2f2f2;
}

.generic-error-box {
  width: 400px;
  margin: auto;
  margin-top: 300px;
  text-align: center;
}

.center-box {
  width: 400px;
  background: #fff;

  margin: auto;
  margin-top: 300px;

  padding: 20px;

  text-align: center;

  border-radius: 7px;
}
.button {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 170px;
}

.onboarding-step__title {
  padding: 15px;
  background: #f2f2f2;
  cursor: pointer;
}

.onboarding-step__content {
  padding: 15px;
  background: #f9f9f9;
}

.form__text-input {
  display: block;
  margin: auto;
  padding: 5px 10px;
  margin-top: 10px;
}

.form__submit-button {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  width: 170px;
}

.collateral-container {
  margin-bottom: 10px;
}

.collateral-container__title {
  margin-bottom: 10px;
  font-weight: bold;
}

.collateral-record {
  width: 83px;
  height: 83px;
  text-align: center;
  color: #000000;
  background: #ececec;
  border: 1px solid #d9d9d9;
  display: inline-block;
}

.collateral-record:nth-child(n + 3) {
  margin-left: 10px;
}

.collateral-record__asset-name {
  display: block;
  margin-top: 20px;
}

.collateral-record__asset-amount {
  display: block;
  font-size: 25px;
}

.collateral-deposit-container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #000000;
  background: #ececec;
  border: 1px solid #d9d9d9;
  margin-bottom: 10px;
}
.collateral-deposit-container__title {
  display: block;
}

.collateral-deposit-container__subtitle {
  display: block;
  font-size: 12px;
}

.collateral-deposit-container__deposit-address {
  font-style: italic;
  font-size: 13px;
}
